.msg{
	padding-top:50px;
	width: 50%;
	margin: auto;

}

.msg input{
	width: 500px;
	height: 40px;
	border-radius: 17px;
	border-color: #8080803b;
	margin-left: 7%;

}
.msg button{
	margin-left: 8%;
	margin-top: 1%;
	background: #0563af;
	color: #000000;
	width: 80px;
	height: 40px;
	border: 1px solid #000000;
	font-size: 17px;
	border-radius: 10px;
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
	-webkit-appearance: button;

}
.para {
	padding: 0px 50px 0px 30px;
	text-align: justify;
	letter-spacing: 1px;
	font-size: 20px;
}
.box
{
	margin-top: 40px;
	margin-left: 500px;
}
.box select
{
	border-radius: 10px;
	background: #0563af;
	color: #000000;
	padding: 10px;
	width: 300px;
	height: 50px;
	border: 1px solid #000000;
	font-size: 20px;
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
	-webkit-appearance: button;
	outline: none;
}
.faqs{
	margin: 0px 70px 0px 50px;
	text-align: justify;
	letter-spacing: 1px;
	font-size: 20px;
}
div.pa1 {
	border-style: solid;
	border-radius: 15px;
	padding: 0px 10px 0px 10px;
	margin-top: 10px;
}
.pa1{
	background-color: #e0e9ea;
}
.pa1 p{
	background-color: #e0e9ea;
}
